:root{
    --dark-brown: #AD5E00;
    --dark-purple: #845EC2;
    --dark-green: #008D82;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1{
    font-size: 5rem;
}

html, body{
    font-size: 16px;
    height: 100%;
}

body{
    background-color: skyblue;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.3;
}

ul{
    list-style-type: none;
    font-size: 16px;
}

button, img{
    cursor: pointer;
}

input{
    border: none;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;

    height: 100%;
    box-sizing: border-box;
}

.container div{
    font-size: 16px;
    border-radius: 15px;
}

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--dark-green);
    padding: 20px;
    color: white;
    gap:40px ;
}

.left-side ul{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: 1fr 2fr;
    gap: 20px;

    height: 100%;
}

.profile-pic-img-small{
    justify-self: center;
    object-fit: cover;
    height: auto;
    width: 43px;
    border-radius: 50%;
}

.profile-pic-img-big{
    object-fit: cover;
    height: 100px;
    width: auto;
    border-radius: 50%;
}

.left-side-top{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;

    grid-column: 1/ 3;
    grid-row: 1 /2;
}

.left-side-top img{
    grid-column: 1 / 2;
    grid-row: 1/ 2;
}

.left-side-top input{
    height: 30px;
    border-radius: 15px;
    background-color: lightgray;

    grid-column: 2/ 3;
    grid-row: 1 /2;
}

.left-side-top input:focus{
    border: 4px solid var(--dark-purple);
}

.left-side-bottom{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;

    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.left-side-bottom img{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.left-side-bottom .name{
    grid-row: 1 / 3;
}

.right-side ul{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: 1fr 2fr;
    gap: 20px;
    height: 100%;

    align-items: center;
    justify-content: center;
}

.right-side ul li{
    align-items: center;
    justify-items: center;
}


.right-side-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-column: 1 / -1;
    grid-row: 1 /2;
    place-content: center;
}

.right-side-top .bell-img{
    justify-self: end;
}

.right-side-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;

    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.right-side-bottom .button button{
    color: white;
    background-color: rgb(8, 118, 161);
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
}

.side{
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: auto auto 1fr;
    background-color: var(--dark-brown);
    padding: 20px;
    color: white;
    gap: 40px;
}

.logo{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 40px;
}

.side ul{
    display: grid;
    gap: 20px;
}

.side .main-links ul li{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    place-content: center;
}

.side p{
    font-size: clamp(17px, 50%, 60rem);
    font-weight: bold;
}

.side .secondary-links ul li{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.main-content{
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    padding: 20px;
}

.project-container{
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.project-container h3{
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.project-container .title{
    margin-bottom: 5px;
    font-weight: bold;
}

.project-container .project{
    /* height: 200px; */
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 20px;
    background-color: white;
    border-left: 6px solid rgb(255, 188, 100);
}

.project .special-icons{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-self: end;
    gap: 20px;
}

.announcement-trending-container{
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
}

.announcements{
    display: grid;
    grid-template-rows: min-content;
    gap: 15px
}

.announcements ul{
    display: grid;
    background-color: white;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
}

.announcements ul li{
    padding-top: 20px;
}

.announcements ul li:nth-child(-n+2) p{
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.trending {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 15px;
}
.trending ul{
    display: grid;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    grid-template-rows: repeat(4, 1fr);
    align-self: center;
}

.trending ul li{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    
    
    justify-items: center;
    
    
}

.trending ul li img{
    display: grid;
    grid-row: 1 / 3;
    align-self: center;
}

.trending-img-icon{
    border-radius: 50%;
    width: 60px;
    height: auto;
}

.name-project{
    grid-row: 1 / 3;
    align-self: center;
}

.trending ul, .announcements ul, .header, .project{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

